<template>
    <div class="card" @click="handleClick">
        <img :src="'static/cards/' + card.image" />
    </div>
</template>
<script>
import { mapGetters, mapState, mapMutations } from 'vuex';
export default {
  props: ['card', 'click'],
  methods: {
    handleClick() {
      this.$emit('click');
    },
  },
};
</script>
<style lang="scss">
.card {
    display: block;
    margin: 0;
    cursor: pointer;
    
    &:hover {
        margin-top: -10px;
        filter: drop-shadow(0 0 0.3em #777);
    }

    &:first-child {
        margin-left: 0;
    }
    
    img {
        width: 80px;
    }
}
</style>
