<template>
    <div id="game-pane">
        <img class="koz-type" :src="getKozType" v-if="getKozType != null" />
        <button class="btn-menu" @click="handleMenuClick">
          <img src="static/back.png" />
        </button>
        <span class="el-count-text">{{currentElCount+1}}/{{elCount}}</span>
        <span class="its-your-turn" v-show="isMyOrder">Sıra Sende</span>
        <span class="round-winner" v-if="isShowRoundWinner">Eli kazanan <br> {{roundWinnerUserName}}</span>
        <div id="top-gamer">
            <img class="name-pane" src="static/name_pane_top.png" />
            <span class="name-pane-text">{{getUser(2).username}}</span>
            <span class="name-pane-text" style="top: 63px;">{{getUser(2).puan}}</span>
        </div>
        <div id="left-gamer">
            <img class="name-pane" src="static/name_pane_left.png" />
            <span class="name-pane-text">{{getUser(3).username}}</span>
            <span class="name-pane-text" style="left: -38px;">{{getUser(3).puan}}</span>
        </div>
        <div id="card-pane">
            <card v-for="card in centerCards" :key="card.name" :card="card" />
        </div>
        <div id="right-gamer">
            <img class="name-pane" src="static/name_pane_right.png" />
            <span class="name-pane-text">{{getUser(1).username}}</span>
            <span class="name-pane-text" style="right: -38px;">{{getUser(1).puan}}</span>
        </div>
        <div id="bottom-gamer">
            <img class="name-pane" src="static/name_pane_bottom.png" />
            <span class="name-pane-text" style="top: -7px;">{{getUser(0).puan}}</span>
            <span class="name-pane-text">{{getUser(0).username}}</span>
            <div id="card-list" :class="[{'disable-cards': ! isMyOrder}]">
              <card v-for="card in myCards" :key="card.name" :card="card" @click="handleAddCardToCenter(card)" />
            </div>
        </div>

        <div class="dialog" v-if="isAskIhale">
          <div class="ihale-menu">
            <button v-for="item in [5,6,7,8,9,10,11,12,13]" :key="item" @click="handleClickIhale(item)">{{item}}</button>
            <button class="pas" @click="handleClickIhale(-1)">PAS</button>
          </div>
        </div>
        <div class="dialog" v-if="isAskCardType">
          <div class="card-type-menu">
            <button v-for="item in ['sinek', 'kupa', 'maca', 'karo']" :key="item" @click="handleClickCardType(item)">
              <img :src="`static/${item}.png`" />
            </button>
          </div>
        </div>
        <div class="dialog" v-if="gameCompleted">
          <h3 class="game-completed-title">Oyun Tamanlandı</h3>
          <div class="score-table">
            <table>
              <thead>
                <tr>
                  <th>Skor Tablo</th>
                  <th v-for="user in getScoreUsers" :key="user">{{user}}</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in getScoreTable" :key="index">
                  <td>{{index+1}}.El</td>
                  <td v-for="score in item" :key="score">{{score}}</td>
                </tr>
                <tr>
                  <td>Toplam</td>
                  <td v-for="total in getScoreTotals" :key="total">{{total}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
</template>
<script>
import Card from "./Card";
import { mapGetters, mapState, mapActions, mapMutations } from "vuex";
import ClientManager from "../socket/client";

export default {
  data() {
    return {
    };
  },
  mounted() {
    ClientManager.connectToGame();
    ClientManager.sendUsername(this.username);
  },
  methods: {
    ...mapMutations(["setIsAskIhale", "setIsAskCardType", "removeMyCard"]),
    handleAddCardToCenter(card) {
      const kozType = this.joinedUsers.filter(user => user.ihaleBende)[0].cardType;
      const user = this.joinedUsers.find(user => user.username == this.username);

      var elimdekilerinHepsiKoz = this.myCards.every(_card => _card.type == kozType);

      if (this.centerCards.length > 0) {
        var firstCard = this.centerCards[0];
        var secondCard = this.centerCards[1];
        var thirdCard = this.centerCards[2];
        var fourthCard = this.centerCards[3];
        var masadakiKozlar = this.centerCards.filter(_card => _card.type == kozType);
        var elimdekiKozlar = this.myCards.filter(_card => _card.type == kozType);
        var masadakiKartlar = this.centerCards.filter(_card => _card.type == firstCard.type); //
        var elimdekiMasadakiKartTipindekiKartlar = this.myCards.filter(_card => _card.type == firstCard.type); //
        var elimdekiMasadakiKartTipindekiKartlarinBuyugu = Math.max(...elimdekiMasadakiKartTipindekiKartlar.map(_card => _card.rank));
        var elimdekiMasadakiIlkKartinBuyugu = Math.max(...this.myCards.filter(_card => _card.type == firstCard.type).map(_card => _card.rank));

        var masadakiKartlarinBuyugu = Math.max(...masadakiKartlar.map(_card => _card.rank));
        var masadakiEnBuyukKoz = Math.max(...masadakiKozlar.map(_card => _card.rank));
        var elimdekiEnBuyukKoz = Math.max(...elimdekiKozlar.map(_card => _card.rank));

        var elimdeKozVar = this.myCards.findIndex(_card => _card.type == kozType) != -1;
        var elimdeIlkKarttanVar = this.myCards.findIndex(_card => _card.type == firstCard.type) != -1;
        var enAzYerdekindenBirTaneBuyukVar = this.myCards.findIndex(_card => _card.type == firstCard.type && _card.rank > firstCard.rank) != -1;
        var elimdeYerdekilerdenBuyukKozVar = elimdekiEnBuyukKoz > masadakiEnBuyukKoz;
        var elimdeYerdekilerdenBuyukKartVar = elimdekiMasadakiKartTipindekiKartlarinBuyugu > masadakiKartlarinBuyugu;
        var ilkIkiKartAyni = this.centerCards.slice(0, 2).every(_card => _card.type == firstCard.type);
        var elimdeIlkKarttanBuyukVar = elimdekiMasadakiIlkKartinBuyugu > firstCard.rank;
        var masadaKozVar = masadakiKozlar.length != 0;
      }

      // ilk kart ise
      console.log(this.centerCards.length)
      switch (this.centerCards.length) {
        case 0: {
          console.log("000");
          // elimde kozdan başka kart varsa koz oynayamam, yoksa koz hariç herhangi bir kart oynarım.
          if (elimdekilerinHepsiKoz) {
            this.sendCard(card);
          }
          else if (user.ihaleBende) {
            if (this.oncedenKozOynandi) {
              this.sendCard(card);
            } else if (card.type != kozType) {
              this.sendCard(card);
            } else {
              alert('ekleyemezsin1');
            }
          } else {
            this.sendCard(card);
          }
        } break;
        case 1: {
          console.log("111");
          if (elimdeIlkKarttanVar) {
            if (enAzYerdekindenBirTaneBuyukVar) {
              // seçtiğim kart ilk karttan büyükse
              if (card.type == firstCard.type && card.rank > firstCard.rank) {
                this.sendCard(card);
              } else {
                alert("olmaz!1");
              }
            } else if(card.type == firstCard.type) {
              this.sendCard(card);
            } else {
              alert("olmaz!2");
            }
          }
          else {
            // elimde koz varken kozdan başka bişey atamam.
            if (elimdeKozVar && card.type != kozType) {
              alert('olmaz3');
            } else {
              this.sendCard(card);
            }
          }
        } break;
        case 2: {
          console.log("222");
          if (ikinciKartKoz) {
            if (elimdeIlkKarttanVar) {
              if (card.type == firstCard.type) {
                this.sendCard(card);
              }
            } else {
              if (elimdeKozVar) {
                if (elimdeYerdekilerdenBuyukKozVar) {
                  var ikinciKartKoz = secondCard.type == kozType;
                  if (card.type == kozType && card.rank > secondCard.rank) {
                    this.sendCard(card);
                  } else {
                    alert('olmaz 4');
                  }
                } else {
                  this.sendCard(card);
                }
              }
            }
          } else {  // ikinci kart koz değil
            if (ilkIkiKartAyni) { // ikiside koz değil
              if (elimdeIlkKarttanVar) {
                if (elimdeYerdekilerdenBuyukKartVar) {
                  if (card.type == firstCard.type && card.rank > masadakiKartlarinBuyugu) {
                    this.sendCard(card);
                  } else {
                    alert('olmaz 6');
                  }
                } else if (card.type == firstCard.type) {
                  this.sendCard(card);
                } else {
                  alert('olmaz 22');
                }
              } else {
                if (elimdeKozVar) {
                  if (card.type == kozType) {
                    this.sendCard(card);
                  } else {
                    alert('olmaz 387');
                  }
                } else {
                  this.sendCard(card);
                }
              }
            } else { //ilk iki kart aynı değil
              if (elimdeIlkKarttanVar) {
                if (elimdeIlkKarttanBuyukVar) {
                  if (card.type == firstCard.type && card.rank > firstCard.rank) {
                    this.sendCard(card);
                  } else {
                    alert('olmaz 44566');
                  }
                } else if (card.type == firstCard.type) {
                  this.sendCard(card);
                } else {
                  alert('olmaz 2345');
                }
              } else { // ilk kart yok elimde
                if (elimdeKozVar) {
                  if (card.type == kozType) {
                    this.sendCard(card);
                  } else {
                    alert('olmaz 232456');
                  }
                } else {
                  this.sendCard(card);
                }
              }
            }
          }
          /*
            ikinci kart koz ise
              ilk karttan var ise:
                ilk karttan istediğimi atarım.
              yoksa
                elimde koz var ise kozun büyğü varsa onu yoksa küçüğünü atarım
                koz yoksa herhangi bir tane atarım.
            ikinci kart koz değilse
              ilk 2 kart aynı ise (ikiside koz değil)
                bu karttan bende var ise
                  yerdeki kartlardan büyüğü varsa onu yoksa küçüğünü
                bu karttan yoksa
                  elimde koz var ise herhangi birini atarım.
                  koz yoksa herhangi bir kart atarım
              ilk iki kart aynı değil ise
                ilk kart bende var ise, onun büyüğü, yok ise küçüğünü atarım
                ilk kart yok ise, bende koz var ise herhangi bir koz yoksa herhangi bi kart atarım.
          */
        } break; 
        case 3: {
          console.log("444");
          if (elimdeIlkKarttanVar) {
            if (masadaKozVar) {
              if (card.type == firstCard.type) {
                this.sendCard(card);
              } else {
                alert('olmaz1111111');
              }
            } else { // masada koz yok
              if (elimdeYerdekilerdenBuyukKartVar) {
                if (card.type == firstCard.type && card.rank > masadakiKartlarinBuyugu) {
                  this.sendCard(card);
                }  else {
                  alert("olmaz123212");
                }
              } else if (card.type == firstCard.type) {
                this.sendCard(card);
              } else {
                alert("olmaz345-");
              }
            }
          } else { // ilk kart bende yok
            if (elimdeKozVar) {
              if (masadaKozVar) {
                if (elimdeYerdekilerdenBuyukKozVar) {
                  if (card.type == kozType && card.rank > masadakiEnBuyukKoz) {
                    this.sendCard(card);
                  } else if (card.type == kozType) {
                    this.sendCard(card);
                  } else {
                    alert('olmaz-696');
                  }
                }
              } else { // masada koz yoksa
                if (card.type == kozType) {
                  this.sendCard(card);
                } else {
                  alert('olmaz-691');
                }
              }
            } else { // elimde koz yok
              this.sendCard(card);
            }
          }
          /*
            ilk kart bende varsa
              yerde koz varsa
                ilk karttan istediğimi atarım
              yerde koz yoksa
                ilk kart tipinden yerdekilerin büyüğünden büyük olan varsa onu yoksa küçüğünü atarım
            ilk kart bende yoksa
              bende koz varsa
                yerde koz varsa
                  yerdeki kozlardan büyük varsa bende onu atarım yoksa küçüğünü atarım
                yerde koz yoksa
                  herhangi bir koz atarım
              bende koz yoksa
                herhangi bi tane atarım
          */
        } break;
      }
    },
    sendCard(card) {
      card.username = this.username;
      ClientManager.addCardToCenter(card);
      this.removeMyCard(card);
    },
    handleClickCardType(value) {
      ClientManager.setIhaleCardType(this.username, value);
      this.setIsAskCardType(false);
    },
    handleClickIhale(value) {
      if (this.joinedUsers.find(item => item.ihale >= value) === undefined) {
        ClientManager.setIhaleValue(this.username, value);
        this.setIsAskIhale(false);
      } else if (value != -1) {
        alert("Masada eşit veya daha yüksek bir ihale var.");
      } else {
        ClientManager.setIhaleValue(this.username, value);
        this.setIsAskIhale(false);
      }
    },
    handleMenuClick() {
      ClientManager.resetGame();
      this.$router.replace({ name: "main-menu" });
    },
    getUser(index) {
      const myIndex = this.joinedUsers.findIndex(_user => _user.username == this.username);
      const users = JSON.parse(JSON.stringify(this.joinedUsers));
      let tempList = users.splice(0, myIndex).reverse();
      users.push(...tempList);
      let user = users[index];
      if (user != undefined && user.ihaleBende) {
        user.puan = `${user.puan}:${user.ihale}`;
      }
      return user ? user : {username: 'Bekleniyor...', puan: 0};
      /* return user ? `${user.username}` : 'Bekleniyor...';

       const myIndex = this.joinedUsers.findIndex(_user => _user.username == this.username);
       const users = [...this.joinedUsers];
       let temp = [undefined,undefined,undefined,undefined];
       temp[0] = users.splice(myIndex, 1);
        for (let i = 3, j = 0; j < users.length; i--, j++) {
          temp[i] = users.pop();
        }
        let user = temp[index];
        return user ? `${user.username} - ${user.puan}` : 'Bekleniyor...'; 
      */
    },
  },
  computed: {
    getKozType() {
      let users = this.joinedUsers.filter(user => user.ihaleBende);
      if (this.joinedUsers.length == 4 && users.length > 0 && users[0].cardType != undefined) {
        return 'static/' + this.joinedUsers.filter(user => user.ihaleBende)[0].cardType + '.png';
      } else {
        return null
      }
    },
    getScoreUsers() {
      return Object.keys(this.scoreTable);
    },
    getScoreTable() {
      const newlist = [];
      const keys = Object.keys(this.scoreTable);
      const n = this.scoreTable[keys[0]].scores.length;
      for (let i = 0; i < n; i++) {
        const tempList = [];
        keys.forEach(key => tempList.push(this.scoreTable[key].scores[i]));
        newlist.push(tempList);
      }
      return newlist;
    },
    getScoreTotals() {
      const keys = Object.keys(this.scoreTable);
      const totals = [];
      keys.forEach(key => totals.push(this.scoreTable[key].scores.reduce((total, score) => total += score, 0)));
      return totals;
    },
    ...mapState({
      isAskIhale: state => state.local.isAskIhale,
      isAskCardType: state => state.local.isAskCardType,
      username: state => state.local.username,
      joinedUsers: state => state.local.joinedUsers,
      myCards: state => state.local.myCards,
      centerCards: state => state.local.centerCards,
      oncedenKozOynandi: state => state.local.oncedenKozOynandi,
      isShowRoundWinner: state => state.local.isShowRoundWinner,
      roundWinnerUserName: state => state.local.roundWinnerUserName,
      elCount: state => state.local.elCount,
      currentElCount: state => state.local.currentElCount,
      gameCompleted: state => state.local.gameCompleted,
      scoreTable: state => state.local.scoreTable,
    }),
    isMyOrder() {
      let user = this.joinedUsers.find(user => user.username == this.username);
      return user != undefined ? user.isMyOrder : false;
    }
  },
  components: {
    card: Card
  }
};
</script>
<style lang="scss">
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(75, 80, 75, 0.774);
  display: flex;
  justify-content: center;
  align-items: center;

  .ihale-menu {
    display: grid;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: 60px 60px 60px;
    grid-gap: 10px;
    background-color: #212221;
    box-shadow: 0px 0px 20px 0px #2b2b2b;
    padding: 10px;
    border-radius: 3px;

    button {
      border-radius: 3px;
      box-shadow: inset 0px 1px 0px 0px #caefab;
      background: linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
      border: 1px solid #268a16;
      background-color: #77d42a;
      font-family: "Ubuntu", sans-serif;
      font-size: 18px;
      color: white;
      cursor: pointer;

      &:hover {
        background: linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
        background-color: #5cb811;
      }
    }

    button.pas {
      grid-column: 1/4;
      height: 50px;
    }
  }
}

.its-your-turn, .round-winner, .game-completed-title {
  position: fixed;
  width: 200px;
  top: 80px;
  left: calc(50% - 100px);
  font-size: 34px;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-weight: 600;
  background: linear-gradient(to top, #F7971E, #FFD200);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  left: calc(50% - 100px);
  animation-name: pulse;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.round-winner {
  animation: none;
  font-size: 20px;
  left: 0px;
}

.game-completed-title {
  width: 300px;
  left: calc(50% - 150px);
  background: linear-gradient(to top, #F7971E, #FFD200);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.el-count-text {
  position: fixed;
  top: 20px;
  right: 70px;
  font-size: 20px;
  color: white;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.08, 1.08, 1.08);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

.btn-menu {
  border: 0;
  display: block;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 0;
  background: transparent;
  cursor: pointer;
  z-index: 9;

  &:hover {
    filter: drop-shadow(0 0 0.4em rgb(168, 168, 168));
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.score-table {
  table {
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    background-color: #212221;
  }

  th, td {
    padding: 15px 20px;
    background-color: rgba(255,255,255,0.1);
    color: #fff;
    text-align: center;
  }

  thead {
    th {
      background-color: #2b2b2b;
    }
  }

  tbody {
    tr {
      &:hover {
        background-color: rgba(255,255,255,0.3);
      }
    }
    td {
      position: relative;
    }
  }
}

.koz-type {
  position: fixed;
  background-color: #e2e1e1;
  border-radius: 3px;
  top: 10px;
  right: 10px;
  display: block;
  width: 40px;
  height: 40px;
  z-index: 99;
}

.card-type-menu {
  padding: 2px;
  background-color: #2b2b2b;
  border-radius: 3px;

  button {
    width: 60px;
    height: 60px;
    margin: 10px;
    padding: 6px;
    border-radius: 3px;
    background: linear-gradient(to top, #c9c9c9 5%, #fefefe 100%);
    border: 0;
    cursor: pointer;

    &:hover {
      background: linear-gradient(to top, #fefefe 5%, #c9c9c9 100%);
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

span.name-pane-text {
  position: absolute;
  font-size: 1.2em;
  color: white;
  display: block;
}

#card-list {
  display: flex;
  background-image: url("/static/bg_wood.png");
  height: calc(100% - 20px);
  // max-height: 320px;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100% - 40px);
  padding: 10px 20px;
  justify-content: center;
  align-items: center;

  .card {
    margin: 0 0 -20px -20px;
  }
}

.disable-cards {
  pointer-events: none;
}

#game-pane {
  width: 100%;
  height: 100%;
  background: radial-gradient(#518c2b, #1f7121);
  display: grid;
  grid-template-rows: 100px 1fr minmax(250px, 1.1fr);
  grid-template-areas:
    "top-gamer top-gamer top-gamer top-gamer"
    "left-gamer card-pane card-pane right-gamer"
    "bottom-gamer bottom-gamer bottom-gamer bottom-gamer"
    "bottom-gamer bottom-gamer bottom-gamer bottom-gamer";
}

#top-gamer {
  grid-area: top-gamer;
  display: block;
  text-align: center;
  position: relative;

  .name-pane {
    max-width: 250px;
  }

  .name-pane-text {
    top: 18px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#left-gamer {
  position: relative;
  grid-area: left-gamer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .name-pane {
    max-height: 250px;
  }

  .name-pane-text {
    transform: rotate(90deg);
    transform-origin: center center 0;
    width: 200px;
    text-align: center;
    float: left;
    left: -80px;
  }
}

#card-pane {
  grid-area: card-pane;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;

  .card {
    cursor: auto;
    margin: 0 -15px 0 0;
    // width: 70px;
  }
}

#right-gamer {
  position: relative;
  grid-area: right-gamer;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  .name-pane {
    max-height: 250px;
    float: right;
  }

  .name-pane-text {
    transform: rotate(270deg);
    transform-origin: center center 0;
    width: 200px;
    text-align: center;
    float: left;
    right: -80px;
  }
}

#bottom-gamer {
  grid-area: bottom-gamer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  flex-direction: column;

  .name-pane {
    max-width: 250px;
  }

  .name-pane-text {
    top: 38px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
</style>
