<template>
<div id="menu-wrapper">
  <img src="/static/batak_logo.png" id="batak-logo" />
  <div id="main-menu">
    <button class="menu-btn" @click="handleStartGame">
      <span>Oyun Başlat</span>
    </button>
    <button class="menu-btn" @click="handleJoinGame">
      <span>Oyuna Katıl</span>
    </button>
  </div>
  <div style="display: flex; flex-direction: column; align-items: center;">
    <input type="text" id="username" placeholder="Kullanıcı Adı" v-model="username" />
    <input type="number" id="el-count" placeholder="El sayısı" v-model="elCount" min="1" max="13" />
    <span class="error" v-if="isShowError && username.length === 0">Kullanıcı adınızı girin!</span>
    <span class="error" v-if="isShowError && (this.elCount <= 0 || this.elCount > 13)">En az 1 en fazla 13 el oynayabilirsiniz.</span>
    <span class="error" v-if="noOpenDesk">{{$route.params.error}}</span>
  </div>
</div>
</template>
<script>
import { mapGetters, mapState, mapActions, mapMutations } from "vuex";
import ServerManager from "../socket/server";
import ClientManager from "../socket/client";

export default {
  data() {
    return {
      username: "",
      elCount: 0,
      isShowError: false,
      noOpenDesk: false,
    };
  },
  mounted() {
    if (this.$route.params.error) {
      this.noOpenDesk = true;
    }
  },
  methods: {
    handleStartGame() {
      // oyun başlat
      if (this.username !== "" && this.elCount > 0 && this.elCount < 14) {
        ServerManager.createServer();
        this.setUsername(this.username);
        this.$router.replace({ name: "game-pane" });
        ClientManager.setElCount(this.elCount);
      } else {
        this.isShowError = true;
      }
    },
    handleJoinGame() {
      // oyuna katıl
      if (this.username !== "") {
        this.setUsername(this.username);
        this.$router.replace({ name: "game-pane" });
      } else {
        this.isShowError = true;
      }
    },
    ...mapMutations(["setUsername", "setUserNameAlreadyExists"])
  },
  computed: {
    ...mapState({
      userNameAlreadyExists: state => state.local.userNameAlreadyExists
    })
  }
};
</script>
<style <style lang="scss">
#batak-logo {
  margin-top: 80px;
  width: 380px;
}

#menu-wrapper {
  width: 100%;
  height: 100%;
  background: radial-gradient(rgb(63, 146, 82), rgb(19, 94, 90));
  display: grid;
  justify-items: center;
  align-content: flex-start;
  grid-gap: 30px;

  #main-menu {
    width: 300px;
    height: min-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 16px;
  }
}

#username, #el-count {
  display: block;
  border-radius: 3px;
  padding: 8px 10px;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  color: #222;
  border: 1px solid #268a16;
}

#el-count {
  margin-top: 8px;
}

.error {
  display: block;
  width: 100%;
  color: #a00707;
  margin-top: 8px;
  text-align: center;
}

.menu-btn {
  box-shadow: inset 0px 1px 0px 0px #caefab;
  background: linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
  background-color: #77d42a;
  font-family: "Ubuntu", sans-serif;
  border-radius: 3px;
  border: 1px solid #268a16;
  cursor: pointer;
  color: #306108;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 24px;
  text-decoration: none;
  // text-shadow: 0px 1px 0px #aade7c;
}
.menu-btn:hover {
  background: linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
  background-color: #5cb811;
}
.menu-btn:active {
  position: relative;
  top: 1px;
}
</style>
