<template>
    <div id="splash-screen">
        <!-- <h1>Fındıklı Game</h1> -->
        <img src="static/logo.png" />
    </div>
</template>
<script>
export default {
  mounted() {
    setTimeout(() => {
      this.$router.replace({ name: 'main-menu' });
    }, 40);
  },
};
</script>
<style lang="scss">
body {
    background-color: rgba(29, 29, 29, 0.96);
}
#splash-screen {
  width: 100%;
  height: 100%;
  background-color: rgba(29, 29, 29, 0.96);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 600px;
  }

  img {
    display: block;
    position: relative;
    color: white;
    font-size: 50px;
    animation-fill-mode: both;
    animation: zoomInDown 2s 0s;
  }

  @keyframes zoomInDown {
    from {
      opacity: 0;
      transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    60% {
      opacity: 1;
      transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
  }
}
</style>
