<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    name: 'batak',
  };
</script>

<style>
  html, body, #app {
    height: 100%;
    width: 100%;
    margin: 0;
  }

  body {
    font-family: 'Ubuntu', sans-serif;
  }

  * {
    user-select: none;
    outline: none;
  }
  
</style>
